RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^js/cart.js$    index.php?page=cart.js [L,NC]
RewriteRule ^unigene-details/byId/(.*)?$  index.php?page=unigene-details&feature_id=$1 [L,NC,QSA]
RewriteRule ^isoform-details/byId/(.*)?$  index.php?page=isoform-details&feature_id=$1 [L,NC,QSA]
RewriteRule ^graphs(?:/(.*))?$  index.php?page=graphs&query=$1 [L,NC,QSA]
