RewriteEngine On
Options -MultiViews
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^js/feature/(.*).js$    index.php?page=js&js=$1 [L,NC,QSA]

RewriteRule ^multisearch$    index.php?page=multisearch [L,NC,QSA]

RewriteRule ^annotationsearch$    index.php?page=combisearch [L,NC,QSA]

RewriteRule ^details/byId/(.*)?$  index.php?page=details-byid&feature_id=$1 [L,NC,QSA]
RewriteRule ^details/byOrganismReleaseName/(.*)/(.*)/(.*)$  index.php?page=details&organism=$1&release=$2&name=$3 [L,NC,QSA]

RewriteRule ^graphs(?:/(.*))?$  index.php?page=graphs&query=$1 [L,NC,QSA]

RewriteRule ^diffexpr(?:/(.*))?$  index.php?page=diffexpr&query=$1 [L,NC,QSA]

RewriteRule ^expression(?:/(.*))?$  index.php?page=expression&query=$1 [L,NC,QSA]

RewriteRule ^blast(?:/(.*))?$  index.php?page=blast&query=$1 [L,NC,QSA]

RewriteRule ^blast_results(?:/(.*))?$  index.php?page=blast_results&job_uuid=$1 [L,NC,QSA]

RewriteRule ^impressum$  index.php?page=impressum [L,NC,QSA]