RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^js/feature/(.*).js$    index.php?page=js&js=$1 [L,NC]

RewriteRule ^multisearch$    index.php?page=multisearch [L,NC,QSA]

RewriteRule ^advancedsearch$    index.php?page=advancedsearch [L,NC,QSA]

RewriteRule ^details/byId/(.*)?$  index.php?page=details-byid&feature_id=$1 [L,NC,QSA]
RewriteRule ^details/byOrganismAndUniquename/(.*)/(.*)?$  index.php?page=details&organism=$1&uniquename=$2 [L,NC,QSA]

RewriteRule ^graphs(?:/(.*))?$  index.php?page=graphs&query=$1 [L,NC,QSA]

RewriteRule ^diffexpr(?:/(.*))?$  index.php?page=diffexpr&query=$1 [L,NC,QSA]

RewriteRule ^blast(?:/(.*))?$  index.php?page=blast&query=$1 [L,NC,QSA]

RewriteRule ^blast_results(?:/(.*))?$  index.php?page=blast_results&job_uuid=$1 [L,NC,QSA]