<?php
//path to binary files
define ('BLASTN', '/usr/bin/blastn');
define ('BLASTP', '/usr/bin/blastp');
define ('BLASTX', '/usr/bin/blastx');
define ('TBLASTN', '/usr/bin/tblastn');
define ('TBLASTX', '/usr/bin/tblastx');

//database connection for the "blast-cron" database
define('BLAST_CRON_DB_ADAPTER','pgsql');
define('BLAST_CRON_DB_CONNSTR', 'pgsql:host=localhost;dbname=mydb');
define('BLAST_CRON_DB_USERNAME', 'root');
define('BLAST_CRON_DB_PASSWORD', '');

//folder containing blast databases. databases have to be named <organism common name>_<release>.fasta
define('BLAST_DATABASE_BASEDIR', '/usr/share/blast-databases/');

//max amount of blast processes running at the same time.
define('BLAST_CRON_MAX_PARALLEL_PROCS', 2);

//lifetime for a cron-blast process until it exits and another process has to be started via cron.
//can be set to -1 for infinite but this is not recommended
define('BLAST_CRON_PARENT_LIFE_TIME', 600);
//maximum time a parent waits for his children to exit until a SIGKILL is sent (should be at least as long as BLAST_MAX_EXECUTION_TIME)
define('BLAST_CRON_MAX_GRACEFUL_EXIT_TIME', 60);
//maximum time a child process waits for blast to return before it kills the blast process and quits with an error
define('BLAST_CRON_BLAST_MAX_EXECUTION_TIME', 60);


//debugging may be enabled here.
define('DEBUG', false);
?>
